<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ghost1.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,136},{41,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,66}}</string>
				<key>sourceSize</key>
				<string>{41,66}</string>
			</dict>

			<key>Ghost10.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,0},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,70}}</string>
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>

			<key>Ghost11.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,71},{51,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,72}}</string>
				<key>sourceSize</key>
				<string>{51,72}</string>
			</dict>

			<key>Ghost12.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,69},{40,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,66}}</string>
				<key>sourceSize</key>
				<string>{40,66}</string>
			</dict>

			<key>Ghost13.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,63},{59,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,69}}</string>
				<key>sourceSize</key>
				<string>{59,69}</string>
			</dict>

			<key>Ghost14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{65,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,62}}</string>
				<key>sourceSize</key>
				<string>{65,62}</string>
			</dict>

			<key>Ghost15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{63,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,52}}</string>
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>

			<key>Ghost16.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,169},{60,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,50}}</string>
				<key>sourceSize</key>
				<string>{60,50}</string>
			</dict>

			<key>Ghost17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{63,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,52}}</string>
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>

			<key>Ghost18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,169},{62,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,54}}</string>
				<key>sourceSize</key>
				<string>{62,54}</string>
			</dict>

			<key>Ghost2.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,69},{41,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,67}}</string>
				<key>sourceSize</key>
				<string>{41,67}</string>
			</dict>

			<key>Ghost3.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,0},{38,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,68}}</string>
				<key>sourceSize</key>
				<string>{38,68}</string>
			</dict>

			<key>Ghost4.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,144},{45,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,70}}</string>
				<key>sourceSize</key>
				<string>{45,70}</string>
			</dict>

			<key>Ghost5.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,144},{46,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,71}}</string>
				<key>sourceSize</key>
				<string>{46,71}</string>
			</dict>

			<key>Ghost6.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,0},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>

			<key>Ghost7.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,69},{41,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,66}}</string>
				<key>sourceSize</key>
				<string>{41,66}</string>
			</dict>

			<key>Ghost8.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,137},{41,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,66}}</string>
				<key>sourceSize</key>
				<string>{41,66}</string>
			</dict>

			<key>Ghost9.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{41,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,68}}</string>
				<key>sourceSize</key>
				<string>{41,68}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>Ghost.png</string>
			</dict>
		</dict>
</plist>