<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Monster4DieAnimation_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{55,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,11},{55,75}}</string>
				<key>sourceSize</key>
				<string>{65,97}</string>
			</dict>

			<key>Monster4DieAnimation_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{49,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,26},{49,60}}</string>
				<key>sourceSize</key>
				<string>{56,97}</string>
			</dict>

			<key>Monster4DieAnimation_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,211},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,14},{40,42}}</string>
				<key>sourceSize</key>
				<string>{50,67}</string>
			</dict>

			<key>Monster4DieAnimation_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,212},{40,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,13},{40,25}}</string>
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>

			<key>Monster4DieAnimation_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,211},{41,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{41,19}}</string>
				<key>sourceSize</key>
				<string>{49,28}</string>
			</dict>

			<key>Monster4WalkAnimation_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,142},{43,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,68}}</string>
				<key>sourceSize</key>
				<string>{43,68}</string>
			</dict>

			<key>Monster4WalkAnimation_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,142},{42,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,69}}</string>
				<key>sourceSize</key>
				<string>{42,69}</string>
			</dict>

			<key>Monster4WalkAnimation_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,138},{38,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,68}}</string>
				<key>sourceSize</key>
				<string>{38,68}</string>
			</dict>

			<key>Monster4WalkAnimation_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,76},{49,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,67}}</string>
				<key>sourceSize</key>
				<string>{49,67}</string>
			</dict>

			<key>Monster4WalkAnimation_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{41,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,67}}</string>
				<key>sourceSize</key>
				<string>{41,67}</string>
			</dict>

			<key>Monster4WalkAnimation_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{43,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,68}}</string>
				<key>sourceSize</key>
				<string>{43,68}</string>
			</dict>

			<key>Monster4WalkAnimation_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,76},{47,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,65}}</string>
				<key>sourceSize</key>
				<string>{47,65}</string>
			</dict>

			<key>Monster4WalkAnimation_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,69},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>

			<key>Monster4WalkAnimation_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,68},{37,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,69}}</string>
				<key>sourceSize</key>
				<string>{37,69}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>Monster4.png</string>
			</dict>
		</dict>
</plist>